@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&display=swap');

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 100%;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

p,
a {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-image: url('../img/headerBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5.4rem 13.8rem;
}

.logo img {
    width: 12rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}

nav ul li {
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

nav ul li,
.orderBlock p,
.scrollThrough p {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.7rem 2.5rem;
    color: white;
    box-sizing: border-box;
}

.orderBlock,
.scrollThrough {
    transition: 500ms all;
    background-color: #23A6F0;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.orderBlock p,
.scrollThrough p {
    position: relative;
    margin: 0;
    cursor: pointer;
    padding: 0.7rem 4rem 0.7rem 2.5rem;
    transition: 500ms all;
}

.orderBlock p::after {
    content: '';
    background-image: url('../img/maki_arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 27.5%;
    right: 10%;
}

.scrollThrough p::after {
    content: '';
    background-image: url('../img/carbon_book.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 27.5%;
    right: 10%;
}

.orderBlock:hover,
.scrollThrough:hover {
    background-color: #23a6f000;
    border: 0.1rem solid #23A6F0;
}

.header-panel {
    display: none;
    padding: 1rem 2rem;
}

.menu {
    width: 3rem;
    height: 0.4rem;
    background-color: white;
    margin: 0.6rem 0;
    border-radius: 1rem;
}

.panel-button {
    background-color: #23a6f000;
    border: 0.1rem solid white;
    color: #fff;
    padding: 0.5rem 2.5rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2rem;
}

.dropdown-list {
    width: 19rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #ffffffd4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin-left: -5.2rem;
    margin-top: 2rem;
    z-index: 3;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dropdown-list li {
    padding: 1rem 2rem;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    z-index: 3;
}

.dropdown-list li a {
    color: black;
    font-size: 1.4rem;
}

.show {
    display: block;
}

@media (max-width: 1200px) {
    nav {
        padding: 5.4rem 6.8rem;
    }
}

@media (max-width: 980px) {

    nav ul li,
    .orderBlock p,
    .scrollThrough p {
        font-size: 1.4rem;
    }

    .logo img {
        width: 10rem;
    }

    nav {
        padding: 3.4rem 5.8rem;
    }
}

@media (max-width: 770px) {

    nav ul,
    .orderBlock {
        display: none;
    }

    .header-panel {
        display: block;
    }
}

@media (max-width: 580px) {

    .orderBlock p,
    .scrollThrough p {
        font-size: 1rem;
    }

    .logo img {
        width: 8rem;
    }

    .dropdown-list {
        margin-left: -2.8rem;
        width: 11rem;
    }

    .dropdown-list li a {
        font-size: 1rem;
    }

    .dropdown-list li {
        padding: 0.5rem 2rem;
    }

    .panel-button {
        padding: 0.1rem 1.5rem;
    }

    .header-panel {
        padding: 0.5rem 1rem;
    }

    .orderBlock p::after,
    .scrollThrough p::after {
        width: 1rem;
        height: 1rem;
        top: 32.5%;
        right: 10%;
    }

    .orderBlock p,
    .scrollThrough p {
        padding: 0.7rem 3rem 0.7rem 2rem;
    }

    nav {
        padding: 1.4rem 2.8rem;
    }

    .menu {
        width: 2.5rem;
        height: 0.2rem;
    }
}

.headDescription,
.headTextForUs {
    max-width: 74.4rem;
    width: 100%;
    margin: 0 auto;
}

.wrraperHeadDescription {
    padding: 0rem 3rem 8.3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.mainTextDescription,
.wrraperHeadDescription,
.secondTextDescription,
.headTextForUs,
.mainTextForUs {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    color: white;
}

.wrraperHeadDescription h2 {
    font-size: 4rem;
    font-weight: 800;
}

.mainTextDescription {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.secondTextDescription {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
}

@media (max-width: 980px) {
    .wrraperHeadDescription {
        font-size: 3.6rem;
    }

    .mainTextDescription {
        font-size: 2.1rem;
    }

    .secondTextDescription {
        font-size: 1.4rem;
    }

}

@media (max-width: 580px) {
    .wrraperHeadDescription {
        font-size: 3.2rem;
    }

    .mainTextDescription {
        font-size: 1.7rem;
    }

    .secondTextDescription {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

section {
    width: 100%;
}

.blockForUs,
.blocksAspects {
    margin-top: 2.2rem;
}

.blockProduct {
    padding-top: 2.2rem;
}

.paddingBlocks {
    padding: 0rem 5.4rem;
    box-sizing: border-box;
}

.headTextForUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headTextForUs h2 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 3rem;
}

.headTextForUs p {
    font-size: 1.4rem;
    color: black;
    font-weight: 300;
    text-align: center;
    line-height: 2rem;
}

.wrraperForUsBlock {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bgBlock {
    max-width: 40rem;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, #DBDBDB 0.13%, #8EC2F2 0.14%, rgba(219, 219, 219, 0.00) 99.87%);
    padding: 2.5rem;
    margin: 2.2rem 1rem;
}

.mainBlocksInfo {
    width: 100%;
    border-radius: 3rem;
    background-color: white;
    border: 1px solid #8EC2F2;
    overflow: hidden;
}

.imgBlocks {
    width: 100%;
}

.imgBlocks img {
    width: 100%;
}

.forUsHead,
.forUsTextMain {
    text-align: center;
    font-weight: 300;
}


.forUsHead {
    padding: 3.2rem 2rem;
    font-size: 1.6rem;
}

.forUsTextMain {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0rem 2rem 3.3rem 2rem;
}

@media (max-width: 980px) {
    .headTextForUs h2 {
        font-size: 2.1rem;
    }
}

@media (max-width: 580px) {
    .headTextForUs h2 {
        font-size: 1.7rem;
    }

    .headTextForUs p {
        font-size: 1.2rem;
    }

    .forUsHead {
        font-size: 1.4rem;
    }

    .forUsTextMain {
        font-size: 1.2rem;
    }

    .paddingBlocks {
        padding: 0rem 2.4rem;
    }

}

.blockProduct {
    background: #FAFAFA;
    padding-bottom: 7.2rem;
}

.wrraperProductFirstBlock {
    margin-top: 3.2rem;
}

.wrraperProductFirstBlock,
.wrraperProductSecondBlock {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mainImgBlockProduct,
.wrrapersImgSecondBlocks {
    max-width: 55rem;
    border-radius: 20px;
    background: linear-gradient(159deg, rgba(255, 255, 255, 0.00) 0%, #BDDAF5 48.96%, rgba(255, 255, 255, 0.00) 100%);
    padding: 2.5rem 5rem;
    margin-bottom: 2rem;
}

.imgBlockProd,
.secondBlockImgProduct {
    width: 100%;
}

.imgBlockProd img,
.secondBlockImgProduct img {
    width: 100%;
    border: 1px solid #8EC2F2;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
}

.wrraperInfoBlocks {
    width: 100%;
    max-width: 75rem;
    padding-left: 2.8rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainBlockInfoProd {
    width: 100%;
    border-radius: 20px;
    background: #FFF;
    padding: 1.2rem 3.6rem 2.8rem 3.6rem;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.bulbIcon {
    max-width: 4rem;
    margin: 0 auto;
}

.bulbIcon img {
    width: 100%;
}

.mainTextBlockProd {
    padding-top: 0.6rem;
}

.mainTextBlockProd p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
}

.mainTextBlockProd p span {
    font-weight: 600;
}

.secondBlockInfoText {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.informationForProd,
.secondInformationForProd {
    background: white;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.informationForProd:nth-child(2) {
    margin: 0rem 5.4rem;
    box-sizing: border-box;
}

.informationForProd p,
.secondInformationForProd p {
    padding: 1rem 2.2rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
}

.informationForProd p span,
.secondInformationForProd p span {
    font-weight: 600;
}

.numberIcon {
    max-width: 4rem;
    margin: 0 auto;
    margin-top: 1.2rem;
}

.numberIcon img {
    width: 100%;
}

@media (max-width: 1428px) {
    .wrraperInfoBlocks {
        padding-left: 0;
        max-width: 100%;
    }
}

@media (max-width: 1428px) {
    .wrraperInfoBlocks {
        padding-left: 0;
        max-width: 100%;
    }
}

@media (max-width: 840px) {
    .secondBlockInfoText {
        flex-wrap: wrap;
    }

    .informationForProd,
    .secondInformationForProd {
        margin-bottom: 2rem;
    }

    .informationForProd:nth-child(2) {
        margin: 0;
        margin-bottom: 2rem;
    }

    .informationForProd p,
    .secondInformationForProd p {
        padding: 1rem 2.2rem 2.8rem 2.2rem;
    }
}

@media (max-width: 580px) {
    .mainImgBlockProduct {
        padding: 2.5rem;
    }

    .informationForProd p,
    .secondInformationForProd p {
        font-size: 1.2rem;
    }

    .numberIcon {
        max-width: 3rem;
    }

    .bulbIcon {
        max-width: 3rem;
    }
}

.wrrapersImgSecondBlocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75rem;
}

.secondBlockImgProduct:nth-child(2) {
    margin: 0rem 5.4rem;
}

.secondWrraperInfoBlocks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 52rem;
}

.secondInformationForProd:nth-child(2) {
    margin: 0rem 5.4rem 0rem 5.4rem;
}

.marginTop {
    margin-top: 0rem;
}

@media (max-width: 1462px) {
    .secondInformationForProd:nth-child(2) {
        margin: 0rem 0rem 0rem 5.4rem;
    }

    .secondWrraperInfoBlocks {
        max-width: 100%;
    }

    .wrraperProductSecondBlock {
        flex-direction: column-reverse;
        align-items: center;
    }

    .wrraperProductSecondBlock {
        margin-top: 3.2rem;
    }
}

@media (max-width: 840px) {
    .secondInformationForProd:nth-child(2) {
        margin: 0rem;
    }

    .wrrapersImgSecondBlocks {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    .secondBlockImgProduct:nth-child(2) {
        margin: 2rem;
    }

    .secondBlockImgProduct {
        width: 100%;
    }

    .wrrapersImgSecondBlocks {
        width: 80%;
    }

    .wrrapersImgSecondBlocks {
        padding: 2.5rem 2.5rem;
    }

    .wrraperProductSecondBlock {
        margin-top: 0rem;
    }
}

.blocksPaddingAspects {
    padding: 2.2rem 12rem 5rem 12rem;
    box-sizing: border-box;
}

.mainBLockAspects {
    border-radius: 20px;
    background: #FAFAFA;
    width: 100%;
    padding: 3.8rem 7.4rem;
    box-sizing: border-box;
}

.mainBLockAspects h3 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3.7rem;
}

.wrraperPlusAspects {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mainblockAscpects {
    max-width: 25rem;
    border-radius: 20px;
    border: 1px solid #8EC2F2;
    background: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem 2.5rem;
    margin-bottom: 3.7rem;
}

.iconAscpects {
    max-width: 4rem;
    margin: 0 auto;
}

.iconAscpects img {
    width: 100%;
}

.headFont {
    font-weight: 600;
}

.mainblockAscpects:nth-child(2) {
    margin: 0rem 4rem;
}

@media (max-width: 1093px) {
    .mainblockAscpects:nth-child(2) {
        margin: 0rem 4rem 3.7rem 4rem;
    }
}

@media (max-width: 840px) {
    .mainblockAscpects:nth-child(2) {
        margin: 0rem;
        margin-bottom: 3.7rem;
    }

    .blocksPaddingAspects {
        padding: 2.2rem 6rem 5rem 6rem;
    }
}

@media (max-width: 580px) {
    .mainBLockAspects {
        padding: 3.8rem 3.4rem;
    }

    .blocksPaddingAspects {
        padding: 2.2rem 3rem 5rem 3rem;
    }

    .mainblockAscpects {
        padding: 1.2rem 1.6rem;
    }

    .iconAscpects {
        max-width: 3rem;
    }
}

.borderRed {
    border: 1px solid #F00;
}

.orderBlocks {
    background: #FAFAFA;
    padding-bottom: 8.6rem;
}

.orderBgForm {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 2rem;
    background: #252B42;
    padding: 0.5rem;
    margin-top: 2.2rem;
    box-sizing: border-box;
}

#mainForm {
    width: 100%;
    border-radius: 2rem;
    border: 1px solid #8EC2F2;
    background: #FFF;
    padding: 2rem;
    box-sizing: border-box;
}

.blockIconSelected {
    max-width: 3.5rem;
    margin: 0 auto;
}

.blockIconSelected img {
    width: 100%;
}

.textForm,
.pricePolicy {
    text-align: center;
    padding: 1rem 2rem;
}

.textForm {
    font-size: 1.4rem;
    font-weight: 400;
}

.pricePolicy {
    font-size: 2rem;
    font-weight: 600;
    color: red;
}

input {
    outline: none;
}

.flexInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2.2rem;
    padding: 0rem 2rem;
}

.inputbox,
button[type="submit"] {
    max-width: 29.5rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.2rem;
}

.inputbox input {
    font-size: 1.2rem;
    width: 100%;
    padding: 1.2rem 2.7rem;
    box-sizing: border-box;
    border-radius: 2rem;
    background: #DCDCDC;
    border: none;
}

button[type="submit"] {
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    border-radius: 2rem;
    background: #23A6F0;
    border: none;
    padding: 1.5rem 2rem;
    transition: 500ms all;
    margin-bottom: 0rem;
    cursor: pointer;
}

footer {
    background: #252B42;
    width: 100%;
    padding: 2.7rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 2rem;
    box-sizing: border-box;
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    text-align: center;
}

.privacyPolicy {
    cursor: pointer;
}

@media (max-width: 840px) {
    footer {
        flex-direction: column;
    }
}

@media (max-width: 580px) {
    footer p {
        font-size: 1.4rem;
    }
}

#myPolicy {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(217, 217, 217, 0.71);
    padding: 40px 20px;
    box-sizing: border-box;
    border: none;
    opacity: 0;
    transition: 500ms all;
}

.mainBlockPolicy {
    position: relative;
    max-width: 120rem;
    width: 100%;
    height: 50rem;
    background: white;
    overflow-x: hidden;
    text-align: left;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 2rem 12.5rem;
    box-sizing: border-box;
    border: 1px solid #8EC2F2;
}

.closePolicy {
    position: absolute;
    max-width: 5rem;
    right: 0;
    right: 10px;
    cursor: pointer;
}

.closePolicy img {
    width: 100%;
}

.mainBlockPolicy h2 {
    text-align: center;
    margin-bottom: 5.8rem;
    font-size: 2.2rem;
}

.mainBlockPolicy p {
    font-size: 1.6rem;
}

@media (max-width: 840px) {
    .mainBlockPolicy {
        padding: 2rem 3.5rem;
    }
}

.inputbox p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.loaderPos {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(217, 217, 217, 0.71);
    align-items: center;
    justify-content: center;
    transition: 500ms all;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #8EC2F2;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}