.paddingSect {
    padding: 2rem;
    box-sizing: border-box;
    background: #8EC2F2;
    height: 74.7rem;
}

.blockMainWhanks {
    background: #FAFAFA;
    border: 0.1rem solid #8EC2F2;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    margin-top: 7.5rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.blockHeadZakaz h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.blockLogoIcon {
    max-width: 12rem;
    margin: 0 auto;
}

.blockManegere1 {
    background: white;
    border-radius: 2rem;
    padding: 1rem 2rem;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
    margin-top: 2rem;
    box-sizing: border-box;
}

.blockManegere1 p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

.firstParagraph {
    max-width: 4rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.firstParagraph img {
    width: 100%;
}